.table-font {
    font-size: 30px;
    /* ปรับขนาด font ตามต้องการ */
}

.ant-table-cell {
    font-size: 30;
    /* ปรับขนาด font ตามต้องการ */
}

.header-class {
    font-size: 30px; /* ปรับขนาดตัวอักษรส่วนหัวตาราง */
  }
  
  .cell-class {
    font-size: 25px; /* ปรับขนาดตัวอักษรของข้อมูลในตาราง */
  }
  