
  @media (max-width: 2000px) {
    .CardContainer {
      width: 100%;
      height: 800px;
      padding: 30px;
    }
  }
  
  /* Responsive styles */
  @media (max-width: 1800px) {
    .CardContainer {
      width: 100%;
      height: 650px;
      padding: 30px;
    }
  }
  
  /* Responsive styles */
  @media (max-width: 1200px) {
    .CardContainer {
      width: 100%;
      height: 500px;
      padding: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .CardContainer {
      width: 100%; /* Adjust width for smaller screens */
      height: 650px;
      padding: 30px; /* Modify padding for smaller screens */
    }
  }
  @media (max-width: 390px) {
    .CardContainer {
      width: 100%; /* Adjust width for smaller screens */
      height: 650px;
    }
  }

/*---------------------------------------------------------------------*/

  @media (max-width: 2000px) {
    .BarChartContainer {
      width: 100%;
      height: 600px;
      padding: 30px;
    }
  }
  
  /* Responsive styles */
  @media (max-width: 1800px) {
    .BarChartContainer {
      width: 100%;
      height: 600px;
      padding: 30px;
    }
  }
  
  /* Responsive styles */
  @media (max-width: 1200px) {
    .BarChartContainer {
      width: 100%;
      height: 600px;
      padding: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .BarChartContainer {
      width: 100%; /* Adjust width for smaller screens */
      height: 600px;
      padding: 30px; /* Modify padding for smaller screens */
    }
  }
  @media (max-width: 390px) {
    .BarChartContainer {
      width: 100%; /* Adjust width for smaller screens */
      height: 600px;
      padding: 10px; /* Modify padding for smaller screens */
    }
  }

  /* Responsive styles */
@media (max-width: 2000px) {
  .paperContainer {
    width: 80%;
    padding: 30px;
  }
}

/* Responsive styles */
@media (max-width: 1800px) {
  .paperContainer {
    width: 90%;
    padding: 30px;
  }
}

/* Responsive styles */
@media (max-width: 1200px) {
  .paperContainer {
    width: 70%;
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .paperContainer {
    width: 90%; /* Adjust width for smaller screens */
    padding: 30px; /* Modify padding for smaller screens */
  }

  .articleTitle {
    font-size: 50px; /* Adjust font size for smaller screens */
  }

  /* Add more responsive styles as needed */
}
@media (max-width: 390px) {
  .paperContainer {
    width: 100%; /* Adjust width for smaller screens */
    padding: 1px; /* Modify padding for smaller screens */
  }

  .articleTitle {
    font-size: 50px; /* Adjust font size for smaller screens */
  }

  /* Add more responsive styles as needed */
}